<quantity-selector>
  <div class="quantity-selector">
    {% comment %}
      <button
        class="quantity-selector__button quantity-selector__button--decrease"
        type="button"
        aria-label="{{ 'products.product.quantity_selector.decrease' | t }}"
      >
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus">
          <use xlink:href="#icon-minus"></use>
        </svg>
      </button>
    {% endcomment %}
    <input
      type="number"
      class="quantity-selector__input"
      name="quantity"
      value="{{ current_quantity }}"
      min="{{ min_quantity }}"
      max="{{ max_quantity }}"
      aria-label="{{ 'products.product.quantity_selector.input' | t }}"
    >
    {% comment %}
      <button
        class="quantity-selector__button quantity-selector__button--increase"
        type="button"
        aria-label="{{ 'products.product.quantity_selector.increase' | t }}"
      >
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus">
          <use xlink:href="#icon-plus"></use>
        </svg>
      </button>
    {% endcomment %}
  </div>
</quantity-selector>
