<quantity-selector class="quantity-selector">
  <button
    class="quantity-selector__button"
    type="button"
    data-action="decrease"
    aria-label="{{ 'products.product.quantity_selector.decrease' | t }}"
  >
    {% render 'icon-minus' %}
  </button>
  <input
    type="number"
    class="quantity-selector__input"
    disabled
    name="quantity"
    value="{{ item.quantity | default: 0 }}"
    min="{{ product.selected_or_first_available_variant.quantity_rule.min | default: 0 }}"
    step="{{ product.selected_or_first_available_variant.quantity_rule.increment | default: 1 }}"
    max="{{ product.selected_or_first_available_variant.inventory_quantity }}"
    aria-label="{{ 'products.product.quantity_selector.label' | t }}"
    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  >
  <button
    class="quantity-selector__button"
    type="button"
    data-action="increase"
    aria-label="{{ 'products.product.quantity_selector.increase' | t }}"
  >
    {% render 'icon-plus' %}
  </button>
</quantity-selector>
